@charset "UTF-8";

body {
    background-color: #0f172a;
    color: #f9fafb;
}

header {
    display: grid;
    background-color: #0f172a;
    color: #f9fafb;
}

nav {
    display: grid;
}

.menu {
    grid-template-rows: 1 / 5;
    grid-template-columns: 1 / 5;
    background-color: #0f172a;
    color: #9ca3af;
    text-decoration: none;
}

nav > a:hover {
    color: #f9fafb;
}

nav > a:active {
    color: #3b82f6;
}

a {
    background-color: #3b82f6;
}

a:hover {
    color: #60a5fa;
}

main {
    display: grid;
    background-color: #0f172a;
}

article > p {
    color: #9ca3af;
}